<!doctype html>
<html>
<head>
  <title>Welcome to the Twitter Stream</title>
  <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/script.js"></script>
</head>
<body>
  <h1 style="font-family:Helvetica"><%- header %></h1>
  <div id="tweet-container"></div>
</body>
</html>
